Repository cellis212/Insurance-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for Insurance Manager project
# See https://pre-commit.com for more information

repos:
  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.12
        args: ['--line-length=88']

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        exclude: ^(migrations/|tests/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # TypeScript/JavaScript hooks (for frontend)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|md)$
        pass_filenames: false

  # Docker
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

# Configuration
default_language_version:
  python: python3.12

exclude: |
  (?x)^(
    .*/migrations/.*|
    .*/node_modules/.*|
    .*/.next/.*|
    .*/dist/.*|
    .*/build/.*|
    .*/.git/.*|
    .*/venv/.*|
    .*/env/.*
  )$

fail_fast: false

Update checklist: Version control and .gitignore setup complete
  insurance_manager_todo_checklist.md
Due: prettier

Mark Phase 1 complete: All infrastructure and development environment tasks done
  insurance_manager_todo_checklist.md
Due: prettier

Convert frontend from submodule to regular directory
  frontend/.dockerignore
  frontend/.eslintrc.js
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/Dockerfile
  frontend/README.md
  frontend/components.json
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/company/create/page.tsx
  frontend/src/app/dashboard/company/page.tsx
  frontend/src/app/dashboard/decisions/page.tsx
  frontend/src/app/dashboard/employees/page.tsx
  frontend/src/app/dashboard/expansion/page.tsx
  frontend/src/app/dashboard/investments/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/products/page.tsx
  frontend/src/app/favicon.ico
  frontend/src/app/fonts/GeistMonoVF.woff
  frontend/src/app/fonts/GeistVF.woff
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/providers.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/api-services.ts
  frontend/src/lib/query-client.ts
  frontend/src/lib/utils.ts
  frontend/src/stores/auth-store.ts
  frontend/src/stores/decisions-store.ts
  frontend/src/stores/game-store.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: eslint, prettier

feat: add performance optimizations and UI polish
  .cursor/rules/project-rules.mdc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/company/create/page.tsx
  frontend/src/app/dashboard/company/page.tsx
  frontend/src/app/dashboard/decisions/page.tsx
  frontend/src/app/dashboard/employees/page.tsx
  frontend/src/app/dashboard/expansion/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/products/page.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/components/providers.tsx
  frontend/src/lib/query-client.ts
  insurance_manager_ai_development_rules.md
  insurance_manager_todo_checklist.md
  prompt.md
Due: eslint, prettier

feat: implement authentication system and API improvements
  api/auth_utils.py
  api/v1/auth.py
  api/v1/game.py
  docker-compose.yml
  prompt.md
  requirements.txt
Due: prettier

Implement dynamic configuration loading for CEO, expansion, and investment APIs
  features/ceo_system/api/ceo_endpoints.py
  features/expansion/api/expansion_endpoints.py
  features/investments/api/investment_endpoints.py
  insurance_manager_todo_checklist.md
  migrations/init/README.md
Due: prettier

Implement dynamic configuration loading for CEO, expansion, and investment APIs (#8)
  features/ceo_system/api/ceo_endpoints.py
  features/expansion/api/expansion_endpoints.py
  features/investments/api/investment_endpoints.py
  insurance_manager_todo_checklist.md
  migrations/init/README.md
Due: prettier

Refactor database session imports and add password change validation
  api/v1/auth.py
  core/config.py
  features/ceo_system/api/ceo_endpoints.py
  features/expansion/api/expansion_endpoints.py
  features/investments/api/investment_endpoints.py
  features/market_events/api/market_events_endpoints.py
  features/products/api/product_endpoints.py
  features/regulatory/api/compliance_endpoints.py
Due: none

Update documentation, fix config, and improve project setup instructions
  DOCUMENTATION_UPDATE_SUMMARY.md
  PROJECT_STATUS.md
  README.md
  api/v1/game.py
  features/products/api/product_endpoints.py
Due: prettier

Fix a specific issue (#10)
  DOCUMENTATION_UPDATE_SUMMARY.md
  PROJECT_STATUS.md
  README.md
  api/v1/auth.py
  api/v1/game.py
  core/config.py
  features/ceo_system/api/ceo_endpoints.py
  features/expansion/api/expansion_endpoints.py
  features/investments/api/investment_endpoints.py
  features/market_events/api/market_events_endpoints.py
  features/products/api/product_endpoints.py
  features/regulatory/api/compliance_endpoints.py
Due: prettier

Simplify plugin initialization for MVP, add MVP documentation files
  MVP_COMPLETE.md
  MVP_README.md
  MVP_SUMMARY.md
  api/main.py
  config/semester_configs/mvp_2024.yaml
  core/engine/plugin_manager.py
  start_complete_mvp.sh
  start_mvp.sh
Due: prettier

Simplify plugin initialization for MVP, add MVP documentation files (#11)
  MVP_COMPLETE.md
  MVP_README.md
  MVP_SUMMARY.md
  api/main.py
  config/semester_configs/mvp_2024.yaml
  core/engine/plugin_manager.py
  start_complete_mvp.sh
  start_mvp.sh
Due: prettier

Add weekly simulation framework with comprehensive market processing
  simulations/__init__.py
  simulations/weekly_simulation/README.md
  simulations/weekly_simulation/__init__.py
  simulations/weekly_simulation/demand_functions.py
  simulations/weekly_simulation/integration.py
  simulations/weekly_simulation/market_simulator.py
  simulations/weekly_simulation/operations_simulator.py
  simulations/weekly_simulation/results_aggregator.py
  simulations/weekly_simulation/simulation_engine.py
Due: prettier

Add Playwright tests and fix registration/login form validation
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/tests/01-user-onboarding.spec.ts
  frontend/tests/02-core-gameplay.spec.ts
  frontend/tests/03-mobile-responsive.spec.ts
  frontend/tests/debug-empty-form-dom.spec.ts
  frontend/tests/debug-form-validation.spec.ts
  frontend/tests/debug-successful-registration.spec.ts
  frontend/tests/debug.spec.ts
  frontend/tests/global-setup.ts
  frontend/tests/global-teardown.ts
  frontend/tests/quick-verification.spec.ts
  frontend/tests/utils/auth.ts
  frontend/tests/utils/company.ts
  testing_results_summary.md
Due: eslint, prettier

Add Playwright tests and fix registration/login form validation (#12)
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/tests/01-user-onboarding.spec.ts
  frontend/tests/02-core-gameplay.spec.ts
  frontend/tests/03-mobile-responsive.spec.ts
  frontend/tests/debug-empty-form-dom.spec.ts
  frontend/tests/debug-form-validation.spec.ts
  frontend/tests/debug-successful-registration.spec.ts
  frontend/tests/debug.spec.ts
  frontend/tests/global-setup.ts
  frontend/tests/global-teardown.ts
  frontend/tests/quick-verification.spec.ts
  frontend/tests/utils/auth.ts
  frontend/tests/utils/company.ts
  testing_results_summary.md
Due: eslint, prettier

Add weekly simulation framework with comprehensive market processing (#13)
  simulations/__init__.py
  simulations/weekly_simulation/README.md
  simulations/weekly_simulation/__init__.py
  simulations/weekly_simulation/demand_functions.py
  simulations/weekly_simulation/integration.py
  simulations/weekly_simulation/market_simulator.py
  simulations/weekly_simulation/operations_simulator.py
  simulations/weekly_simulation/results_aggregator.py
  simulations/weekly_simulation/simulation_engine.py
Due: prettier

Add comprehensive Playwright testing assessment for Insurance Manager project
  playwright_testing_assessment.md
Due: prettier

Add comprehensive Playwright testing assessment for Insurance Manager project (#14)
  playwright_testing_assessment.md
Due: prettier

Fix indentation and remove unused imports in simulation modules
  PLAYWRIGHT_TESTING_RESULTS.md
  simulations/weekly_simulation/results_aggregator.py
  simulations/weekly_simulation/simulation_engine.py
Due: prettier

Fix indentation and remove unused imports in simulation modules (#15)
  PLAYWRIGHT_TESTING_RESULTS.md
  simulations/weekly_simulation/results_aggregator.py
  simulations/weekly_simulation/simulation_engine.py
Due: prettier

Fix ESLint errors and unescaped entities in frontend React components
  TESTING_ACTION_PLAN.md
  frontend/.eslintrc.js
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/company/create/page.tsx
  frontend/src/app/dashboard/company/page.tsx
  frontend/src/app/dashboard/decisions/page.tsx
  insurance_manager_todo_checklist.md
Due: eslint, prettier

Fix ESLint errors and unescaped entities in frontend React components (#16)
  TESTING_ACTION_PLAN.md
  frontend/.eslintrc.js
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/company/create/page.tsx
  frontend/src/app/dashboard/company/page.tsx
  frontend/src/app/dashboard/decisions/page.tsx
  insurance_manager_todo_checklist.md
Due: eslint, prettier
